.cardStyle {
  transition: 0.3s ease-in-out;
  -webkit-box-shadow: 1px 2px 9px 7px rgba(25, 80, 145, 0.04);
  box-shadow: 1px 2px 9px 7px rgba(25, 80, 145, 0.04);

  &:hover {
    transform: scale(1.02);
  }
}

.cardWrap {
  padding-top: 30px;
  padding-bottom: 10px;
}

.img-card {
  width: 100%;
  -webkit-box-shadow: 5px 5px 15px 5px #100e20;
  box-shadow: 5px 5px 15px 5px #100e20;
  margin-bottom: 15px;

  img {
    background-size: center;
    width: 100%;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;

    &:hover {
      transform: scale(1.03);
    }
  }
}

.title-card {
  display: flex;
  text-align: center;

  img {
    margin-left: auto;
    transition: all 0.3s ease-in-out;

    &:hover {
      transform: scale(1.3);
    }
  }
}
