.registrationView {
  height: 100vh;
  background-color: rgb(11, 10, 36);
  background-image: url("https://c.wallhere.com/photos/0b/ca/anime_manga_anime_man_illustration_fan_art_dark_background_selective_coloring_texture-1746221.jpg!d");
  background-size: contain;
  background-blend-mode: screen;
  padding-top: 100px;
}
